<ion-content>
  <ion-grid class="grid1">
    <ion-row class="row-img-container">
      <ion-col class="img-container">
        <img src="assets/img/banner-login.png" alt="" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <div class="container-login">
    <ion-row>
      <ion-col class="container-title">
        <h1>Welcome back!</h1>
      </ion-col>
    </ion-row>

    <form [formGroup]="loginForm" (ngSubmit)="submitForm()" novalidate>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-list>
              <ion-item>
                <ion-icon name="person" color="primary"></ion-icon>
                <ion-input formControlName="mail" name="user" type="text" required placeholder="Email">
                </ion-input>
                <span slot="error" *ngIf="isSubmitted && loginForm.controls.mail.errors?.required">Este campo es
                  Value is required.
                </span>
                <span slot="error" *ngIf="isSubmitted && loginForm.controls.mail.errors?.pattern">
                  Invalid email address.
                </span>
              </ion-item>
              <br />
              <ion-item>
                <ion-icon name="lock-closed" color="primary"></ion-icon>
                <ion-input formControlName="password" name="password" type="password" required placeholder="Password">
                </ion-input>
                <span slot="error" *ngIf="isSubmitted && loginForm.controls.password.errors?.required">Este campo es
                  Value is required.
                </span>
                <span slot="error" *ngIf="isSubmitted && loginForm.controls.password.errors?.minlength">
                  Make sure it is at least 5 characters long.
                </span>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <!-- Utilidad css ionic -->
            <ion-button type="submit" expand="full" fill="solid" shape="round" class="ion-text-capitalize">
              Log in!
            </ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center ion-no-padding">
            <!-- Utilidad css ionic -->
            <ion-button (click)="goRegister()" class="ion-text-capitalize" expand="full" fill="outline" shape="round">
             <span class="dark">No account yet? </span> Sign up
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </div>
</ion-content>
