<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header> Music Recents </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="caret-forward-circle-outline" color="primary"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>Album 0001 <span class="ion-float-right">2:25</span></p>
        <h2>Music Title</h2>
       </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="caret-forward-circle-outline" color="primary"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>Album 0001 <span class="ion-float-right">2:25</span></p>
        <h2>Music Title</h2>
       </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="caret-forward-circle-outline" color="primary"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>Album 0001 <span class="ion-float-right">2:25</span></p>
        <h2>Music Title</h2>
       </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="caret-forward-circle-outline" color="primary"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>Album 0001 <span class="ion-float-right">2:25</span></p>
        <h2>Music Title</h2>
       </ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-button (click)="goLogin()" expand="block" fill="clear" shape="round">
    Go Login
  </ion-button> -->
</ion-content>
