<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header> Music Recents </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/default-music.png" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <h3>Move Along</h3>
        <p>These aren't the droids you're looking for...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/default-music.png" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <h3>Move Along</h3>
        <p>These aren't the droids you're looking for...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/default-music.png" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <h3>Move Along</h3>
        <p>These aren't the droids you're looking for...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/icon/default-music.png" />
      </ion-avatar>
      <ion-label>
        <h2>Ben</h2>
        <h3>Move Along</h3>
        <p>These aren't the droids you're looking for...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
